/Estrutura de Dados/Java Básico/POO/build/
/Estrutura de Dados/Java Básico/Cadastro/nbproject/private/
/Estrutura de Dados/Java Básico/Cadastro/build/
/Estrutura de Dados/Java Básico/VetorSI/nbproject/private/
/Estrutura de Dados/Java Básico/VetorSI/build/
/Estrutura de Dados/Java Básico/ListaSI/nbproject/private/
/Estrutura de Dados/Java Básico/ListaSI/build/
/Estrutura de Dados/Java Básico/Pilha/nbproject/private/
/Estrutura de Dados/Java Básico/Pilha/build/
/Estrutura de Dados/Java Básico/Fila/nbproject/private/
/Estrutura de Dados/Java Básico/Fila/build/
/Estrutura de Dados/Java Básico/Sort1/nbproject/private/
/Estrutura de Dados/Java Básico/Sort1/build/
/Estrutura de Dados/Java Básico/Sort2/nbproject/private/
/Estrutura de Dados/Java Básico/Sort2/build/
/Estrutura de Dados/Java Básico/Arquivo/nbproject/private/
/Estrutura de Dados/Java Básico/Arquivo/build/
/Estrutura de Dados/Sistemas Cadastro/nbproject/private/
/Estrutura de Dados/Sistemas Cadastro/build/
/Estrutura de Dados/Sistemas Cadastro/dist/
/Programação II/Aula4/nbproject/private/
/Banco de Dados II/Hibernate
/Banco de Dados II/mysql-connector-java-5.1.38.jar
/Programação II/Aula4/build/
/Programação II/tcc_repository/nbproject/private/
/APS/google-services.json
/Programação II/BatalhaNaval/nbproject/private/
/Programação II/BatalhaNaval/build/
/Programação II/TesteProjectEyes/nbproject/private/
/Programação II/SDProject/nbproject/private/
/Programação II/SDProject/build/
/Sistemas Distribuidos/RPCProject/nbproject/private/
/Sistemas Distribuidos/SocketThread/nbproject/private/
/Sistemas Distribuidos/SocketThread/build/
/Sistemas Distribuidos/RPC/nbproject/private/
/Sistemas Distribuidos/RPCProject/target/
/Sistemas Distribuidos/ccc/nbproject/private/
/Sistemas Distribuidos/RMIProject/target/
/Sistemas Distribuidos/SDProjetoFinal/target/
/Sistemas Distribuidos/Java-RMI-Chat-Application-Server-master/nbproject/private/
/Sistemas Distribuidos/ChatExample/target/
/Sistemas Distribuidos/RMIProjetoJOptionPane/target/
/Arquitetura de Sofware/Singleton/Singleton/nbproject/private/
/Arquitetura de Sofware/Singleton/Singleton/build/
/Arquitetura de Sofware/Singleton/Facade/nbproject/private/
/Arquitetura de Sofware/Singleton/Observer/nbproject/private/
/Arquitetura de Sofware/Singleton/Adapter/nbproject/private/
/Arquitetura de Sofware/Singleton/Iterator/nbproject/private/
/Arquitetura de Sofware/Singleton/Facade/build/
/Arquitetura de Sofware/Singleton/Adapter/build/
/Arquitetura de Sofware/Singleton/Iterator/build/
/Arquitetura de Sofware/Singleton/Observer/build/
/Arquitetura de Sofware/Singleton/Observer2/nbproject/private/
/Arquitetura de Sofware/Singleton/Observer2/build/
/Arquitetura de Sofware/Singleton/CamadaWeb/nbproject/private/
/Arquitetura de Sofware/Singleton/CamadaWeb/build/
/Arquitetura de Sofware/Singleton/CamadaWeb/dist/
/Arquitetura de Sofware/Singleton/SistemaOutro/nbproject/private/
/Arquitetura de Sofware/Singleton/SistemaOutro/build/
/Arquitetura de Sofware/Singleton/Prodepa/nbproject/private/
/Arquitetura de Sofware/Observer3/nbproject/private/
/Arquitetura de Sofware/Observer3/build/
/Ética/DonateSystem/assets/img/icon_food1.jpg
/Ética/DonateSystem/assets/img/icon_food2.jpg
/Ética/DonateSystem/assets/img/index_logo.jpg
/Ética/DonateSystem/assets/img/info_donation.jpg
/Gestão/HospitalSystem/assets/img/
/Gestão/HospitalSystem_SemSegurança/assets/img/